/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* СБРОС СТИЛЕЙ */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

:root {
  --semi-dark: rgba(0, 0, 0, 0.5);
  --dark-percent: rgba(0, 0, 0, 0.1);
  --fill: #ececec;
  --color-light: #fff;
  --color-dark: #000;
  --color-focus: #ff9900;
  --color-hover: #ffb84d;
  --color-active: #e1670e;
  --form-color: #414141;
  --color-semi-dark: #cacaca;
  --color-darken: #666666;
  --gap: 32px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-dark);
}

/* общие классы */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.container {
  max-width: 1920px;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0 auto;
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-dark);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.btn {
  cursor: pointer;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

[class*='title'] {
  margin: 0;
}

[class*='link'] {
  text-decoration: none;
  color: inherit;
}

[class*='img'] {
  display: flex;
  max-width: 100%;
}

.form-input {
  border: none;
  padding: 0.875em 1.5em;
  width: 100%;
  height: 60px;
  border-radius: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-semi-dark);
}

.form-input:focus,
.form-input:hover,
.form-input:active {
  background-color: var(--color-darken);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  outline: none;
}

/* ШАПКА */

.header {
  margin-bottom: 48px;
  border-radius: 0px 0px 32px 32px;
  background: var(--color-light);
  -webkit-box-shadow: 0px 5px 40px var(--dark-percent);
  box-shadow: 0px 5px 40px var(--dark-percent);
}

.form-container {
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
  right: 0;
}

.header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 60px;
  top: 8px;
  right: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 24px;
  padding: 16px 18px 16px 32px;
  background: var(--color-light);
  -webkit-box-shadow: 0px 0px 20px rgb(0 0 0 / 12%);
  box-shadow: 0px 0px 20px rgb(0 0 0 / 12%);
  opacity: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  cursor: default;
}

.form--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  width: auto;
  z-index: 2;
}

.form--close {
  display: none;
}

.close--icon {
  width: 23px;
  height: 23px;
}

.burg-btn-active {
  display: block;
}

.header-form__input {
  min-width: 0;
  width: 0px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-semi-dark);
  padding-bottom: 5px;
  margin-right: 14px;
  background: transparent;
  color: var(--color-semi-dark);
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.form--active .header-form__input {
  min-width: 412px;
}

.form-label {
  width: 100%;
}

.search-icon:not(:last-child) {
  stroke: var(--color-hover);
  margin-right: 20px;
}

.header-form__input:active {
  outline: none;
  color: var(--color-semi-dark);
}

.nav__list {
  width: 100%;
  justify-content: space-between;
}

.nav__item:not(:last-child) {
  margin-right: 10px;
}

.header__container {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.burger {
  display: none;
}

.burger--active .burger__line:nth-child(2) {
  opacity: 0;
}

.burger--active .burger__line:first-child {
  left: 9%;
  top: 40%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.logo {
  margin-right: auto;
}

.burger--active .burger__line:last-child {
  left: 18%;
  top: 41%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger--active {
  z-index: 9999;
  position: absolute;
  width: 30px;
  height: 3px;
  -webkit-transition: background-color 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}

.header__nav {
  display: flex;
  max-width: 708px;
  width: 100%;
  margin-right: 16.25rem;
}

.header__btn {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 5px;
}

.form--hidden {
  display: none;
}

.nav__link:hover {
  color: var(--color-hover);
  border-bottom: 2px solid var(--color-hover);
}

.nav__link:active {
  color: var(--color-active);
  outline: none;
  border-bottom: 2px solid var(--color-active);
}

.close-block {
  position: relative;
  width: 24px;
  height: 24px;
}

.header__btn:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 4px;
}

.close-search:focus,
.close-search:focus circle {
  outline: 2px solid var(--color-focus);
  outline-offset: 4px;
}

.close-search:hover,
.close-search:hover circle,
.search-icon:hover {
  stroke: var(--color-focus);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.header__btn:active {
  stroke: var(--color-focus);
  outline: none;
}

.ui-icon {
  display: none;
}

.close-search:active circle,
.close-search:active {
  stroke: var(--color-dark);
  outline: none;
}

/* СЛАЙДЕР 1*/
.project__container {
  position: relative;
  margin-bottom: 50px;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.project-swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 32px;
  z-index: -1;
}

.project-1 {
  background: url(../img/project-bg-1-1920.png) center center / cover;
}

.project-2 {
  background: url(../img/project-bg-2-1920.png) center center / cover;
  ;
}

.project-3 {
  background: url(../img/project-bg-3-1920.png) center center / cover;
}

.project__title {
  max-width: 879px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-light);
}

.project__subtitle {
  margin: 0;
  max-width: 790px;
  margin-bottom: 90px;
  color: var(--color-light);
}

.my-pagination.swiper-pagination-bullets {
  bottom: 4%;
}

.my-pagination .swiper-pagination-bullet {
  padding: 7px 7px;
  background: var(--color-semi-dark);
  opacity: 1;
}

.my-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 17px;
}

.my-pagination .swiper-pagination-bullet-active {
  background: var(--color-light);
}

/* .project__text {
  width: 900px;
  height: 100%;
  flex-direction: column;
  padding-top: 100px;
  padding-left: 80px;
} */

.project__text {
  position: absolute;
  width: 58%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 2;
}

.project__btn {
  position: relative;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 25px 39px;
  border-radius: 16px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  background: var(--color-focus);
  color: var(--color-light);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.project__btn::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.project__btn:focus::after {
  opacity: 1;
}

.project__btn:hover {
  background-color: var(--color-hover);
}

.project__btn:active {
  background-color: var(--color-active);
}

/* О НАС */

.about-us__title {
  margin: 0;
  margin-bottom: 20px;
}

.about-us__descr {
  width: 70%;
  margin: 0;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about-us__info {
  padding: 65px 65px 63px 60px;
  gap: 48px;
  padding-left: 60px;
  border: 1px solid var(--color-semi-dark);
  border-radius: 32px;
  background: var(--color-light);
}

.about-us__info:first-child {
  margin-bottom: 32px;
}

.about-us__img--self {
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

.infoblock__title {
  margin-bottom: 8px;
  width: 101%;
}

.infoblock__descr {
  width: 78%;
}

.infoblock__list {
  position: relative;
  width: 26%;
}

.infoblock__item {
  position: relative;
}

.promo-descr__box {
  position: absolute;
  padding: 50px;
  align-self: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 32px;
  width: 100%;
  background-color: var(--semi-dark);
}

.about-us__infoblock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc((100% - var(--gap)) / 2);
}

.promo-descr__text {
  margin: 0;
  width: 57%;
  font-weight: 700;
  color: var(--color-light);
}

.about-us__promo {
  position: relative;
  margin-right: var(--gap);
  width: calc((100% - var(--gap)) / 2);
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 32px;
  background-position: center;
  background-size: cover;
}

.infoblock__content {
  padding: 65px 14px 65px 286px;
  outline: 1px solid var(--color-semi-dark);
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: 60px center;
}

.infoblock__content--first {
  margin-bottom: var(--gap);
  background-image: url('../img/box.png');
}

.infoblock__content--second {
  background-image: url('../img/gear.png');
}

.promo-btn {
  position: relative;
  outline: none;
  border: 3px solid var(--color-focus);
  color: var(--color-light);
}

.promo-btn,
.work__btn-fill {
  border-radius: 16px;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.promo-btn,
.work__btn-fill,
.footer__btn {
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.promo-btn,
.work__btn-fill,
.work__btn {
  border-radius: 16px;
  padding: 20px 38px;
  font-size: 16px;
  line-height: 20px;
}

.promo-btn::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.promo-btn::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: inherit;
  background: var(--color-active);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.promo-btn:focus {
  background-color: var(--color-focus);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.promo-btn:hover {
  background-color: var(--color-hover);
  border: 3px solid var(--color-hover);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.promo-btn:active {
  border: 3px solid var(--color-active);
  background-color: var(--color-active);
  color: var(--color-light);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.promo-btn:focus::before {
  opacity: 1;
}

/* НАША РАБОТА */

.about-us {
  margin-bottom: 100px;
}

.work-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 49px;
}

.our-work__title {
  margin-bottom: 49px;
}

.work__list {
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 0.94vw;
  line-height: 22px;
}

.step-active .step {
  color: var(--color-active);
}

.steps-item {
  opacity: 0;
  display: none;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.steps-item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.step {
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.step:not(:last-child) {
  margin-right: 4.6%;
}

.steps-nav__item:not(:last-child) {
  margin-right: 4.8%;
}

.step::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -2px;
  bottom: -3px;
  left: -2px;
  outline: 2px solid var(--color-focus);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.step:focus::after {
  opacity: 1;
}

.step:hover {
  color: var(--color-hover);
}

.step:active {
  color: var(--color-active);
}

.our-work__content {
  min-height: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.work__content:not(:last-child) {
  margin-right: var(--gap);
}

.work-content-right__img {
  height: 98%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 32px;
}

.work__title {
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.work__text {
  margin: 0;
  margin-bottom: auto;
  width: 87%;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
}

.work-content-right {
  position: relative;
  top: 6px;
  flex-direction: row;
  overflow: hidden;
}

.work__btns {
  margin-top: auto;
}

.work__btn-fill {
  margin-right: var(--gap);
  color: var(--color-light);
  background-color: var(--color-focus);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.work__btn-fill:focus {
  background-color: var(--color-focus);
}

.work__btn-fill:hover {
  background-color: var(--color-hover);
}

.work__btn-fill:active {
  background-color: var(--color-active);
}

.work__btn {
  position: relative;
  font-weight: 400;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.work__btn::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid var(--color-dark);
  border-radius: 16px;
  -webkit-transition: border 0.3s ease-in-out;
  -o-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}

.work__btn:focus {
  background-color: var(--color-darken);
  color: var(--color-light);
}

.work__btn:focus::after {
  border: 2px solid var(--color-darken);
}

.work__btn:hover {
  background-color: var(--color-darken);
  color: var(--color-light);
}

.work__btn:hover::after {
  border: 2px solid var(--color-darken);
}

.work__btn:active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.work__btn:active::after {
  border: 2px solid var(--color-dark);
}

.our-work {
  margin-bottom: 100px;
}

.text-visible {
  width: 56%;
}

/* ВОПРОСЫ */

.faq {
  margin-bottom: 100px;
}

.faq-title {
  padding-top: 12px;
  margin-bottom: 32px;
}

.faq-list__item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid var(--color-semi-dark);
  border-bottom: 1px solid var(--color-semi-dark);
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding: 1.65em 0;
  line-height: 32px;
  cursor: pointer;
}

/* АККОРДИОН */

.accordion__item {
  cursor: pointer;
}

/* .accordion__top {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  margin-top: -1px;
} */

.accordion__btn {
  cursor: pointer;
  border-radius: 100%;
  max-width: 50px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid grey;

  font-size: 40px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

*/ .accordion__item:active .accordion__btn {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accordion__top:hover,
.accordion__top:focus-within {
  border-color: orange;
  position: relative;
  z-index: 1;
}

.accordion__top:hover .accordion__btn,
.accordion__top:focus-within .accordion__btn {
  background-color: orange;
  border-color: none;
  color: var(--color-light);
  outline: none;
}

.accordion__top:hover h3,
.accordion__top:focus-within h3 {
  color: orange;
}

.accordion__top:focus-within {
  outline: 0;
}

.accordion__item.is-active .accordion__top {
  border-color: none;
}

.accordion__item.is-active .accordion__btn {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: orange;
  border-color: orange;
  color: var(--color-light);
}

.accordion__item.is-active .accordion__top h3 {
  color: orange;
}

.accordion__item.is-active .accordion__top+.accordion__bottom {
  border-bottom: none;
  position: relative;
  z-index: 2;
}

.accordion__item.ac {
  margin: -1px auto;
  border: none;
}

.accordion__bottom {
  line-height: 2;
}

/*  */

.faq__title {
  margin-bottom: var(--gap);
}

.faq__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid var(--color-semi-dark);
  border-bottom: 1px solid var(--color-semi-dark);
  position: relative;
  -webkit-transition: border-color 1s ease-in-out;
  -o-transition: border-color 1s ease-in-out;
  transition: border-color 1s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.faq__content ellipse,
.faq__content path {
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.faq__item {
  width: 100%;
}

.plus {
  margin-left: auto;
  width: 100%;
  height: 100%;
}

/* .faq__btn {
  width: 2.8%;
  height: 44.6%;
} */

.faq-content__question {
  padding: 0.63em 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  width: 94%;
  margin-right: auto;
}

.faq__content:focus ellipse {
  fill: var(--color-focus);
}

.faq__content:focus path {
  fill: var(--color-light);
}

.faq__content:focus,
.faq__content:hover {
  z-index: 2;
  color: var(--color-hover);
  border-color: var(--color-hover);
  outline: none;
}

.faq__content:hover ellipse {
  fill: var(--color-hover);
}

.faq__content:hover path {
  fill: var(--color-light);
}

.faq__content:active path {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  fill: var(--color-darken);
}

.accordion__item.is-active path {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  fill: var(--color-darken);
}

.faq__content:active ellipse {
  fill: var(--fill);
}

.faq__content:active {
  color: var(--color-dark);
  border-color: var(--color-semi-dark);
}

/*  */

/* ПОДВАЛ */

.footer {
  background: var(--color-dark);
}

.footer__container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 50px 75px;
}

.footer__logo {
  margin-bottom: 20px;
  margin-right: auto;
}

.footer__left {
  -ms-flex-item-align: start;
  align-self: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 367px;
}

.footer-logo {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 20px;
  margin-right: auto;
}

.footer__nav {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 90px;
}

.footer__center {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.footer__title {
  color: var(--color-semi-dark);
  margin-bottom: 25px;
}

.footer-menu__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  color: var(--color-semi-dark);
}

.footer-menu__link:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 5px;
}

.footer-menu__link:hover {
  color: var(--color-hover);
  border-bottom: 2px solid var(--color-hover);
}

.footer-menu__link:active {
  color: var(--color-active);
  outline: none;
  border-bottom: 2px solid var(--color-active);
}

.footer-form {
  min-width: 570px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.textarea {
  min-height: 150px;
  margin-bottom: 32px;
}

.footer__btn {
  position: relative;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 19px 52px;
  border: none;
  background: var(--color-focus);
  color: var(--color-light);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__btn::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.footer__btn:focus::after {
  opacity: 1;
}

.footer__btn:hover {
  background-color: var(--color-hover);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer__btn:active {
  background-color: var(--color-active);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.footer-form__input {
  background: var(--form-color);
}

/* .form__input {
  color: var(--color-semi-dark);
} */

/* .form-input:active {
  color: var(--color-light);
  transition: color 0.3s ease-in-out;
} */

.form-input:active {
  color: var(--color-light);
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.form-input:active::-webkit-input-placeholder {
  color: var(--color-light);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.name,
.email {
  margin-bottom: 25px;
}

.social {
  gap: 25px;
}

.checkbox {
  gap: 22px;
  align-items: center;
}

.checkbox-cont {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px;
}

.checkbox-cont__input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-cont__input::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 2px;
  border-radius: 2px;
  background: transparent url(../img/Check.svg);
}

.checkbox-cont__text {
  color: var(--color-semi-dark);
}

.right-footer__descr {
  max-width: 363px;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-semi-dark);
}

.social--icon:focus {
  outline: 2px solid var(--color-focus);
  outline-offset: 5px;
}

.social--icon:hover path {
  fill: var(--color-focus);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.social--icon:active path {
  fill: var(--color-active);
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
